.background {
  viewport-fill: black;
}

#displayTime {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  /* x: 0%; */
  y: 30%;
  fill: white;
}

#displayDate {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  x: 0%;
  y: 80%;
  fill: grey;
}

#alwaysOn {
  font-size: 15;
  font-family: System-Bold;
  x: 60%;
  y: 70%;
  width: 40;
}
